<%- include('./header') %>

<!-- wrapper  -->

<div class="dashboard-wrapper">
	<div class="dashboard-ecommerce">
		<div class="container-fluid dashboard-content ">

			<!-- pageheader  -->

			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title">User Name: Rudresh HM</h2>

						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Admin</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">Users</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>

			<!-- end pageheader  -->


			

				<!-- Top Earning User  -->

				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
						<div id="accordion">
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Job details
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"><h4>About Company:</h4><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></li>
                                        <li class="list-group-item"><h4>Job Title: </h4><p>Associate Software developer</p></li>
                                        <li class="list-group-item"><h4>Number of Positions: </h4>3</li>
                                        <li class="list-group-item"><h4>Education required: </h4>BE</li>
                                        <li class="list-group-item"><h4>Expereince required: </h4>3 years</li>
                                        <li class="list-group-item"><h4>Skills required: </h4>React js, Node js</li>
                                        <li class="list-group-item"><h4>Tools required: </h4>Adobe xd</li>
                                        <li class="list-group-item"><h4>Interview process: </h4><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></li>
                                        <li class="list-group-item"><h4>Salary Range: </h4>2000000-3000000</li>                                        
                                        <li class="list-group-item"><h4>Complete Job role/description: </h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati in ducimus, atque voluptatibus mollitia vitae nobis enim odio quis sapiente, soluta eaque cumque sequi repellendus eum aut labore. A beatae voluptatum eius quos officia sequi culpa atque temporibus? Magnam id libero nisi. Quas, reprehenderit! In, nihil soluta, facere totam vel dicta eligendi provident consectetur rerum accusamus officiis expedita ipsum. Deserunt totam cupiditate molestiae! Et debitis quibusdam tempora quod itaque explicabo magnam? Molestiae totam, aspernatur quaerat a ea voluptate cum fuga iusto nesciunt laboriosam omnis, deserunt explicabo facilis ratione. Fugit neque reprehenderit ipsum, delectus molestias non nobis voluptatum in eius soluta. </p></li>
                                        <li class="list-group-item"><h4>Payment Terms: </h4><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint eum temporibus sequi vel esse. Odit ullam vero fugit adipisci a.</p></li>
                                        <li class="list-group-item"><h4>Replacement period: </h4>1 year</li>
                                        <li class="list-group-item"><h4>Salary Range: </h4>2000000-3000000</li>
                                        <li class="list-group-item"><h4>Company address: </h4>1st 'A' cross sample street banglore Karnataka-560075</li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Video Linked to the job
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="embed-responsive embed-responsive-21by9">
                                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/YE7VzlLtp-4"></iframe>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item"><h4>Video Title: </h4><p>Associate Software developer</p></li>
                                        <li class="list-group-item"><h4>Length of the video: </h4>3:15</li>
                                        <li class="list-group-item"><h4>No of Questions: </h4>3</li>
                                        <li class="list-group-item"><h4>Question Time stamps: </h4><button type="button" class="btn btn-link">1:11</button> <button type="button" class="btn btn-link">2:15</button> <button type="button" class="btn btn-link">3:00</button></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Qusetions
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                          <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">Question 1</h5>
                                            <small>Time stamp- 1:11</small>
                                          </div>
                                          <h3>Tell us about yourself?</h3>
                                          <p class="mb-4">Answer: Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
                                          <button type="button" class="btn btn-primary">Edit</button>
                                          <button type="button" class="btn btn-danger">Delete</button>
                                          <small class="d-block mt-2">Question type: Subjective</small>
                                        </a>
                                        <li href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Question 2</h5>
                                                <small>Time stamp- 2:11</small>
                                            </div>
                                              <h3>Tell us about yourself?</h3>
                                              <h4>Options-</h4>
                                            <div class="list-group mb-4" id="list-tab" role="tablist">
                                                <div class="col-4">
                                                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Option 1</a>
                                                    <a class="list-group-item list-group-item-action" id="list-profile-list"  href="#list-profile" role="tab" aria-controls="profile">Option 2</a>
                                                    <a class="list-group-item list-group-item-action" id="list-messages-list"  href="#list-messages" role="tab" aria-controls="messages">Option 3</a>
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">Option 4</a>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                            <small class="d-block mt-2">Question type: Subjective</small>
                                        </li>
                                        <li href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Question 3</h5>
                                                <small>Time stamp- 3:11</small>
                                            </div>
                                              <h3>Tell us about yourself?</h3>
                                              <h4>Options-</h4>
                                            <div class="list-group mb-4" id="list-tab" role="tablist">
                                                <div class="col-4">
                                                    <a class="list-group-item list-group-item-action" id="list-home-list" href="#list-home" role="tab" aria-controls="home">Option 1</a>
                                                    <a class="list-group-item list-group-item-action active" id="list-profile-list"  href="#list-profile" role="tab" aria-controls="profile">Option 2</a>
                                                    <a class="list-group-item list-group-item-action" id="list-messages-list"  href="#list-messages" role="tab" aria-controls="messages">Option 3</a>
                                                    <a class="list-group-item list-group-item-action" id="list-settings-list" href="#list-settings" role="tab" aria-controls="settings">Option 4</a>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary">Edit</button>
                                            <button type="button" class="btn btn-danger">Delete</button>
                                            <small class="d-block mt-2">Question type: Subjective</small>
                                        </li>
                                      </div>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapseTwo">
                                      Job status
                                    </button>
                                  </h5>
                                </div>
                                <div id="collapsefour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                  <div class="card-body">
                                      
                        
                                      <ul class="list-group mb-4">
                                          <li class="list-group-item"><h4>Job status: </h4><p>Selected</p></li>
                                          
                                      </ul>
                                      <button type="button" class="btn btn-primary">Edit</button>
                                      <button type="button" class="btn btn-danger">Delete</button>
                                  </div>
                                </div>
                              </div>
                          </div>
                          </div>
					</div>
							<!-- <div class="text-center">
								<nav aria-label="Page navigation">
									<ul class="pagination">
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>      </a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span>
											   <span class="sr-only">Next</span></a>
										</li>
									</ul>
								</nav>
							</div> -->
						</div>
					</div>
				</div>

				<!-- Top Earning User  -->
			</div>
        </div>

	</div>
	
	<Script>
		if ($('#c3chart_zoom').length) {
			var chart = c3.generate({
				bindto: "#c3chart_zoom",
				data: {
					x: 'x',
					columns: [
						['x', '2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'],
						['ending', 78, 8, 5, 8, 2, 8, 2, 8, 2, 8, 2, 8, 8],
						['sample', 30, 200, 100, 400, 150, 250, 150, 200, 170, 240, 350, 150, 100, 400, 150, 250,
							150, 200, 170, 240, 100, 150, 250, 150, 200, 170, 240, 30, 200, 100, 400, 150, 250,
							150, 200, 170, 240, 350, 150, 100, 400, 350, 220, 250, 300, 270, 140, 150, 90, 150,
							50, 120, 70, 40
						]
					],

					colors: {
						sample: '#5969ff',
						ending: ''
					}
				},
				zoom: {
					enabled: true
				},
				axis: {
					y: {
						show: true,


					},
					x: {
						show: true,
						type: 'timeseries',
						tick: {
							format: '%m-%d'
						}
					}
				}

			});
		}
		setTimeout(function () {
			chart.load({
				columns: [
					['data3', 400, 500, 450, 700, 0, 500]
				]
			});
		}, 1000);

    </Script>
    <script src="/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- multi select -->
    <script src="/vendor/select2/js/select2.min.js"></script>
    <!-- summernote -->
    <script src="/vendor/summernote/js/summernote-bs4.js"></script>
    <!-- main js -->
    <script src="/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <!-- <script src="/vendor/charts/c3charts/C3chartjs.js"></script> -->
    <script src="/libs/js/dashboard-ecommerce.js"></script>