<%- include('./header') %>

<!-- wrapper  -->

<div class="dashboard-wrapper">
	<div class="dashboard-ecommerce">
		<div class="container-fluid dashboard-content ">

			<!-- pageheader  -->

			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title">Add videos</h2>

						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Admin</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">upload video</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
            </div>
            <ul  class="row nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="col-2 nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Company</a>
                </li>
                <li class="col-2 nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Skill set</a>
                </li>
                <li class="col-2 nav-item">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Salary</a>
                </li>
                <li class="col-2 nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-interview" role="tab" aria-controls="pills-interview" aria-selected="false">Bond</a>
                </li>
                <li class="col-2 nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-endingone" role="tab" aria-controls="pills-endingone" aria-selected="false">Successfull</a>
                </li>
                <li class="col-2 nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-end" role="tab" aria-controls="pills-end" aria-selected="false">Unsuccessful</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active row" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<div class="card col-12">
						<div class="card-body">
						  <h2 class="card-title">Company Info</h2>
						  <h5 class="m-0">About Company</h5>
						  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<ul class="list-group list-group-flush">
						  	<li class="list-group-item"><h5 class="mb-2">Company Name</h5>
								<p>Google</p>
							</li>
						</ul>
					</div>

					  <table class="table pb-5">
						<thead class="thead-dark">
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Video About</th>
							<th scope="col">Type</th>
							<th scope="col">Options</th>
							<th scope="col">Actions</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Job  Intro Video</td>
							<td>General</td>
							<td>None</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td>Please let us know if  you are  intrested in the job </td>
							<td>Questionnaire</td>
							<td>Yes/No</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">3</th>
							<td>In case you have to relocate, Are you comfortable with the location</td>
							<td>Questionnaire</td>
							<td>Yes/No</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">4</th>
							<td>Do you want to know more about the company </td>
							<td>Questionnaire</td>
							<td>Yes/No</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						</tbody>
					  </table>
				</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="row">
						<div class="card col-12 mt-0 mb-4 mx-auto">
							<div class="card-body">
							  <h2 class="card-title mb-2">Job Details</h2>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><h5>Job title</h5>
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, asperiores?</p>
								</li>
								<li class="list-group-item">
									<h5>Job type</h5>
									<p>BE in computer Science</p>
									<h5>location</h5>
									<p>BE in computer Science</p>
								</li>
								<li class="list-group-item">
									<h5>Day to day responsibilities</h5>
									<p>BE in computer Science</p>
								</li>
								
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="card col-12 mt-0 mb-4 mx-auto">
							<div class="card-body">
							  <h2 class="card-title mb-2">Education</h2>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<h5>Education</h5>
									<p><a>Test link</a></p>
								</li>
								<li class="list-group-item">
									<h5>Any preferred stream</h5>
									<p><a>Test link</a></p>
								</li>
								<li class="list-group-item">
									<h5>Tier 1 college</h5>
									<p><a>true</a></p>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="card col-12 mt-0 mb-4 mx-auto">
							<div class="card-body">
							  <h2 class="card-title mb-2">Experience required</h2>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<h5>Years of experience</h5>
									<p><a>Test link</a></p>
								</li>
								<li class="list-group-item">
									<h5>Experience required in Any specific skills set </h5>
									<p>Java: 5years</p>
									<p>Java: 5years</p>
									<p>Java: 5years</p>
								</li>
								<li class="list-group-item">
									<h5>Experience required in Any specific industry </h5>
									<p>Front-end: 2 years</p>
									<p>back-end: 2 years</p>
								</li>
							</ul>
						</div>
					</div>
					  <table class="table pb-5">
						<thead class="thead-dark">
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Video About</th>
							<th scope="col">Type</th>
							<th scope="col">Options</th>
							<th scope="col">Actions</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Skill Intro Video</td>
							<td>Default Question</td>
							<td>None</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td>Can you Please tell me about yourself</td>
							<td>Default Question</td>
							<td>Yes/No</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">3</th>
							<td>How much experience do you have in react?</td>
							<td>Rec Question</td>
							<td>MCQ</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">4</th>
							<td>Do you want to know more about the company </td>
							<td>Rec Question</td>
							<td>MCQ</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						</tbody>
					  </table>
				</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
					<div class="card col-12">
						<div class="card-body">
						  <h2 class="card-title">General Salary Info</h2>
						</div>
						<ul class="list-group list-group-flush">
						  	<li class="list-group-item"><h5 class="mb-2">Salary</h5>
								<p>Google</p>
							</li>
							<li class="list-group-item "><h5 class="mb-2">Hike</h5>
								<p>Google</p>
							</li>
							<li class="list-group-item"><h5 class="mb-2">Working Days</h5>
								<p>Google</p>
							</li>
							<li class="list-group-item"><h5 class="mb-2">Shift Timing</h5>
								<p>Google</p>
							</li>
							<li class="list-group-item"><h5 class="mb-2">Shift Allowance</h5>
								<p>Google</p>
							</li>
						</ul>
					  </div>
					  <table class="table pb-5">
						<thead class="thead-dark">
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Video About</th>
							<th scope="col">Type</th>
							<th scope="col">Options</th>
							<th scope="col">Actions</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Salary Intro Video</td>
							<td>Default Question</td>
							<td>None</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td>Are you comfortable with 5 days working </td>
							<td>Default Question</td>
							<td>Yes/No</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">3</th>
							<td>We hope shift timing will work you ?</td>
							<td>Default Question</td>
							<td>Yes/No</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">4</th>
							<td>What is your expected CTC?</td>
							<td>Rec Question</td>
							<td>Yes/No</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						</tbody>
					  </table>
				</div>
				<div class="tab-pane fade" id="pills-interview" role="tabpanel" aria-labelledby="pills-interview-tab">
					<div class="row">
						<div class="card col-12 mt-0 mb-4 mx-auto">
							<div class="card-body">
							  <h2 class="card-title mb-2">Terms and Conditions</h2>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
									<h5>Bond</h5>
									<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni perferendis consequatur ad quasi? Earum sunt quidem, dolore facere illo doloribus minus qui aperiam soluta necessitatibus similique animi cum quasi ducimus.</p>
								</li>
								<li class="list-group-item">
									<h5>Any other requirement</h5>
									<p>Driving Licence</p>
									<p>Laptop</p>
									<p>Mobile phone</p>
								</li>
							</ul>
						</div>
					</div>
					  <table class="table pb-5">
						<thead class="thead-dark">
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Video About</th>
							<th scope="col">Type</th>
							<th scope="col">Options</th>
							<th scope="col">Actions</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Bond Intro Video</td>
							<td>Default Question</td>
							<td>None</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  <tr>
							<th scope="row">2</th>
							<td>Are you comfortable with bond and its tenure</td>
							<td>Default Question</td>
							<td>Yes/No</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						</tbody>
					  </table>
				</div>

				<div class="tab-pane fade" id="pills-endingone" role="tabpanel" aria-labelledby="pills-endingone-tab">
					<div class="card col-12">
						<div class="card-body">
						  <h2 class="card-title">Ending type one</h2>
						  <p class="card-text">Ending ( thanks for  applying in the job. We will update your status shortly and accordingly share your cv and response to concerned person. Meanwhile automatically your next job application video will start. Thanks once again and All the best from Hyrefeed on your active job search ) </p>
						</div>
					  </div>
					  <table class="table pb-5">
						<thead class="thead-dark">
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Video About</th>
							<th scope="col">Type</th>
							<th scope="col">Options</th>
							<th scope="col">Actions</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Successfully Applied</td>
							<td>Default Question</td>
							<td>None</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  
						</tbody>
					  </table>
				</div>
				<div class="tab-pane fade" id="pills-endingone" role="tabpanel" aria-labelledby="pills-endingone-tab">
					<div class="card col-12">
						<div class="card-body">
						  <h2 class="card-title">Application </h2>
						  <p class="card-text">Ending ( thanks for  applying in the job. We will update your status shortly and accordingly share your cv and response to concerned person. Meanwhile automatically your next job application video will start. Thanks once again and All the best from Hyrefeed on your active job search ) </p>
						</div>
					  </div>
					  <table class="table pb-5">
						<thead class="thead-dark">
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Video About</th>
							<th scope="col">Type</th>
							<th scope="col">Options</th>
							<th scope="col">Actions</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Successfully Applied</td>
							<td>Default Question</td>
							<td>None</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  
						</tbody>
					  </table>
				</div>
				<div class="tab-pane fade" id="pills-end" role="tabpanel" aria-labelledby="pills-end">
					<div class="card col-12">
						<div class="card-body">
						  <h2 class="card-title">Unsuccessful apliication</h2>
						  <p class="card-text">Ending ( thanks for  applying in the job. We will update your status shortly and accordingly share your cv and response to concerned person. Meanwhile automatically your next job application video will start. Thanks once again and All the best from Hyrefeed on your active job search ) </p>
						</div>
					  </div>
					  <table class="table pb-5">
						<thead class="thead-dark">
						  <tr>
							<th scope="col">#</th>
							<th scope="col">Video About</th>
							<th scope="col">Type</th>
							<th scope="col">Options</th>
							<th scope="col">Actions</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<th scope="row">1</th>
							<td>Unsuccessful application</td>
							<td>Default Question</td>
							<td>None</td>
							<td><button type="button" class="btn btn-info">Upload Video</button></td>
						  </tr>
						  
						</tbody>
					  </table>
				</div>
				</div>
				<button type="button" class="btn btn-info m-4">Share To Video Editor</button>
				</div>
				
			  </div>
        </div>
    </div>
</div>

    
	<%- include('./footer') %>
	<Script>
		if ($('#c3chart_zoom').length) {
			var chart = c3.generate({
				bindto: "#c3chart_zoom",
				data: {
					x: 'x',
					columns: [
						['x', '2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06'],
						['ending', 78, 8, 5, 8, 2, 8, 2, 8, 2, 8, 2, 8, 8],
						['sample', 30, 200, 100, 400, 150, 250, 150, 200, 170, 240, 350, 150, 100, 400, 150, 250,
							150, 200, 170, 240, 100, 150, 250, 150, 200, 170, 240, 30, 200, 100, 400, 150, 250,
							150, 200, 170, 240, 350, 150, 100, 400, 350, 220, 250, 300, 270, 140, 150, 90, 150,
							50, 120, 70, 40
						]
					],

					colors: {
						sample: '#5969ff',
						ending: ''
					}
				},
				zoom: {
					enabled: true
				},
				axis: {
					y: {
						show: true,


					},
					x: {
						show: true,
						type: 'timeseries',
						tick: {
							format: '%m-%d'
						}
					}
				}

			});
		}
		setTimeout(function () {
			chart.load({
				columns: [
					['data3', 400, 500, 450, 700, 0, 500]
				]
			});
		}, 1000);

	</Script>